#EXTM3U 
#EXTM3U x-tvg-url="https://azimabid00.github.io/epg/astro_epg.xml" refresh="1440" vod_library="https://vod.pondan.workers.dev/dewanonton.json,https://aqfadtv.xyz/ePsBfM4g3bHk5XRx/index.php" billed-msg="VOD25"
