#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key=efda647dad723563b625be8c05ee6110:6776985938b332164b97b81fe566a34a
#EXTINF:-1 tvg-id="AstroArena" tvg-name="Astro Arena HD" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroArena_2024.png" group-title="SPORTS",Astro Arena
#EXTVLCOPT:http-user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36
https://linearjitp-playback.astro.com.my/dash-wv/linear/2604/default_ott.mpd

#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key=ead0335d60401225727a6d531e9c2710:1ee3b252227c5c2ec9378c833d2e14ff
#EXTINF:-1 tvg-id="AstroArena2" tvg-name="Astro Arena 2 HD" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroArena2_2024.png" group-title="SPORTS",Astro Arena 2
#EXTVLCOPT:http-user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36
https://linearjitp-playback.astro.com.my/dash-wv/linear/5057/default_ott.mpd

#EXTINF:-1 tvg-id="AstroArenaBola" tvg-name="Astro Arena Bola" ch-number="803" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroArenaBola_2024.png" group-title="SPORTS",Astro Arena Bola
#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"4dQox/HKgjOabPodB1dCjg", "kid":"dIHT43OMRnaPE44gj+6Qdg" } ], "type":"temporary" }
#EXTVLCOPT:http-user-agent="Mozilla/5.0 (Linux; Android 11; 2107113SG Build/RKQ1.210503.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/99.0.4844.73 Mobile Safari/537.36"
https://d1fk7kbmz4il3.cloudfront.net/CH1/masterCH1.mpd|authorization=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A




#EXTINF:-1 tvg-id="AstroArenaBola2" tvg-name="Astro Arena Bola 2" ch-number="804" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroArenaBola2_2024.png" group-title="SPORTS",Astro Arena Bola 2
#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"eTnjNb+Mu9aIL59cnN6+GQ", "kid":"mWhVRUkdQLSTs6SyY8ckXg" } ], "type":"temporary" }
#EXTVLCOPT:http-user-agent="Mozilla/5.0 (Linux; Android 11; 2107113SG Build/RKQ1.210503.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/99.0.4844.73 Mobile Safari/537.36"
https://d1fk7kbmz4il3.cloudfront.net/CH5/masterCH5.mpd|authorization=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A





#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key=7ae6479b6cff490db4913cd7ecaef62d:a7e50788b3f2813c90a17479c6d2cd68
#EXTINF:-1 tvg-id="AstroSportsUHD" tvg-name="Astro UHD" group-title="SPORTS" tvg-logo="https://i.ibb.co/zfM5cGd/Sports-UHDLogo.png",Astro Sport UHD
https://linear16-playback.sooka.my/CH1/masterCH1.mpd

#KODIPROP:inputstreamaddon=inputstream.adaptive
#EXTHTTP:{"authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A"}
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"lofZG3/WR6iBg9CkzJJfdw", "kid":"s8z3OnpmT4WudBE2f/svpw" } ], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroPremierLeague" tvg-name="ASSP HD" ch-number="811" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroPremierLeague_2024.png" group-title="SPORTS",Astro Premier League
https://d3j4fjrwclc3o8.cloudfront.net/CH1/masterCH1.mpd





#KODIPROP:inputstreamaddon=inputstream.adaptive
#EXTHTTP:{"User-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}
#EXTHTTP:{"Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A"}"}
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"QfI0+4hZCvOw0iQRGmG/cQ", "kid":"jx2jmTJSR+ymrN17r7lfog" } ], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroPremierLeague2" tvg-name="AstroPremierLeague2" group-title="SPORTS" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroPremierLeague2_2024.png",Astro Premier League 2
https://d2xpsrw5fp20um.cloudfront.net/v1/dash/4ad19442a5c36709752f44aae3b98db617a3c3d7/ASSP2_Production/masterCH4.mpd


#KODIPROP:inputstreamaddon=inputstream.adaptive
#EXTHTTP:{"User-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}
#EXTHTTP:{"Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A"}
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key=ca4f5ff4e4694d54bdfdc9bd34384290:1100fe297146f7d024b59944f09e6d1a
#EXTINF:-1 tvg-id="AstroPremierLeague3" tvg-name="AstroPremierLeague3" group-title="SPORTS" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroPremierLeague3_2024.png" ch-number="813",Astro Premier League 3
https://d1fk7kbmz4il3.cloudfront.net/CH3/masterCH3.mpd



#KODIPROP:inputstream.adaptive.license_type=clearkey
#KODIPROP:inputstream.adaptive.license_key={3225f837a4b95d6e46683c53818c1710:3e1b57c06699c7e408e7aa49ff57d4f4}
#EXTINF:-1 tvg-id="AstroPremierLeague4" tvg-name="AstroPremierLeague4" group-title="SPORTS" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroPremierLeague4_2024.png" ch-number="818",Astro Premier League 4
https://linearjitp-playback.astro.com.my/dash-wv/linear/5111/default_primary.mpd|user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36



#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"Oz7eaOi7nQ1OO0UXxCLMzw", "kid":"IpZwRpRpqm94vFu+EAcYEA" } ], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroPremierLeague5" tvg-name="AstroPremierLeague5" group-title="SPORTS" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroPremierLeague5_2024.png" ch-number="819",Astro Premier League 5
https://linearjitp-playback.astro.com.my/dash-wv/linear/5113/default_ott.mpd




#KODIPROP:inputstreamaddon=inputstream.adaptive
#EXTHTTP:{"Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A"}
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[{ "kty":"oct", "k":"O+3QvNEXVgFsmjzL559mZQ", "kid":"xeZBeMM+QYWjQG2EJSzXoA" }], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroGrandstand" tvg-name="ASSP3 HD" ch-number="813" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroGrandstand_2024.png" group-title="SPORTS",Astro Grandstand
https://d3ey18635ukr4v.cloudfront.net/CH1/masterCH1.mpd




#KODIPROP:inputstreamaddon=inputstream.adaptive
#EXTHTTP:{"User-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}
#EXTHTTP:{"Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ3bXZlciI6Miwid21pZGZtdCI6ImFzY2lpIiwid21pZHR5cCI6MSwid21rZXl2ZXIiOjEsIndtaWRsZW4iOjUxMiwid21pZCI6Ik1tTTRNRGsyWldZdE0yTmhZaTAwTm1aaUxUbGxOall0TW1SaU5ERTJPREF3TnpObCIsIndtb3BpZCI6MzIsImV4cCI6MTczNzM1NjI0MSwiaWF0IjoxNzM2NzUyMjQxfQ.y_oPJtEq1SjK8JdAJw6X39g0-KD3BPwShkaMBPrhZ-A"}
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"+xL2YdZA5OvfOOMSMCJg6w", "kid":"vaf3S4QvTw6xQjldrdkfBw" } ], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroFootball" tvg-name="ASSP4 HD" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroFootball_2024.png" group-title="SPORTS",Astro Football
https://d28hkm6kpym1e4.cloudfront.net/v1/dash/4ad19442a5c36709752f44aae3b98db617a3c3d7/ASSP4_Production/masterCH2.mpd



#KODIPROP:inputstreamaddon=inputstream.adaptive
#KODIPROP:inputstream.adaptive.manifest_type=dash
#KODIPROP:inputstream.adaptive.license_type=org.w3.clearkey
#KODIPROP:inputstream.adaptive.license_key={ "keys":[ { "kty":"oct", "k":"yLiGFCAF1+UGfIcXd36qxA", "kid":"gTUrxH7BF3syHuZawb5/EA" } ], "type":"temporary" }
#EXTINF:-1 tvg-id="AstroSportsPlus" tvg-name="ASSP7 HD" group-title="SPORTS" tvg-logo="https://linear-poster.astro.com.my/prod/logo/AstroSportsPlus_2024.png" ch-number="817",Astro Sports Plus
https://linearjitp-playback.astro.com.my/dash-wv/dashiso/5171/default_ott.mpd

